@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model tourGroup

<!--Dynamically input appropriate values from each signed-up group by reference to the database-->
<tr id="highlight">
    <td>@Model.groupID </td>
    <td>@Model.groupName</td>
    <td>@Model.groupSize</td>
    <td>@Model.emailAddress</td>
    <td>@Model.phoneNumber</td>
    <td>@Model.tourTime</td>
</tr>